* {
  box-sizing: border-box;

}

body {
  background-color: #c0c0c0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #131516;
  font-family: sans-serif, Arial;
  font-size: 200%;
  text-align: center;
}

.grid {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 500px;
  height: 500px;
  gap: 0;
  outline: 5px black solid;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.pixel {
  width: 100%;
  flex: 1 1 auto;
}

.pixel_outline {
  border: 0.05px black solid;
}

.grid_builder {
  color: #131516;
  font-size: 200%;
  font-weight: bolder;
  background-color: #8db5f7;
  border: 0;
  border-radius: 6px;
  margin-bottom: 5%;
  width: fit-content;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1000px;
  width: 90%;
  gap: 4%;
  margin: 0 auto;
}

.buttons {
  padding: 2%;
  background-color: #1d242e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.color_selector {
  color: #131516;
  font-size: 200%;
  font-weight: bolder;
  border: 0;
  border-radius: 6px;
  margin-bottom: 5%;
  width: 50%;
}

.grid_toggle {
  color: #131516;
  font-size: 150%;
  font-weight: bolder;
  background-color: #8db5f7;
  border: 0;
  border-radius: 6px;
  margin-bottom: 5%;
  width: fit-content;
}