* {
  box-sizing: border-box;
}

body {
  background-color: #fdf2f2;
  margin: 0;
  padding: 0;
}

main {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7%;
}

h1 {
  color: #000000;
  font-family: sans-serif, Arial;
  font-size: 200%;
  text-align: center;
}

.grid {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 500px;
  height: 500px;
  gap: 0;
  outline: 5px black solid;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.pixel {
  width: 100%;
  flex: 1 1 auto;
}

.pixel_outline {
  border: 0.05px black solid;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1000px;
  width: 90%;
  gap: 4%;
  margin: 0 auto;
}

.buttons {
  padding: 2%;
  width: 25%;
  background-color: #383D3B;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  align-items: center;
  align-content: center;
  gap: 4%;
}

.buttons button {
  transition: all 200ms;
  color: #FFFFFF;
  font-size: 150%;
  font-weight: bolder;
  background-color: #6d81fd;
  padding: 3%;
  border: 0;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 3px #666;
}

.buttons button:hover {
  background-color: #a3aef7;
}

.buttons button:active {
  background-color: #485ff7;  
  transform: translateY(4px);
  box-shadow: 0 3px #666;
}

.color_selector {
  transition: all 200ms;
  background-color: #788BFF;
  border-radius: 6px;
  margin-bottom: 5%;
  width: 100%;
  box-shadow: 0 3px #666;
}

.color_selector:hover {
  background-color: #a3aef7;
}

.color_selector:focus {
  background-color: #485ff7;  
  transform: translateY(4px);
  box-shadow: 0 3px #666;
}


.active {
  background-color: #485ff7 !important;  
  transform: translateY(4px);
  box-shadow: 0 3px #666;
}

.foot {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #383D3B;
  padding: 2% 0 2% 0;
  color: white;
}

.credit {
  font-weight: lighter;
  font-size: 120%;
  font-family: sans-serif;
  width: 100%;
  color: white;
  text-decoration: none;
}

.credit:hover {
  color: #a3aef7
}

@media (max-width: 800px){
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
  }
  .buttons{
    width: 50%;
    height: fit-content;
    box-sizing: content-box;
    padding: 4% 2% 4% 2%;
  }
  .grid {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 350px;
    height: 350px;
    gap: 0;
    outline: 5px black solid;
    margin-top: 5%;
  }
}